.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

footer{
    background-color: #f2f2f2;
}

header{
    background-color: #ddd;
}

body > *{
    border-radius: 20px;
    padding: 10px;
    margin: 0;
}

h1 {margin: 0;}
h2 {margin: 0;}

table {
    margin: 20px auto; 
    border-collapse: collapse; 
}

td {
    width: 30vw;
    height: 35px; 
    font-size: 18px;
    border: 1px solid #333;
    padding: 5px;
}

/* Contenedor oculto por defecto */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Fondo oscuro */
}

/* SE ACTIVA CUANDO SE HACE CLIC EN EL ENLACE */
.modal:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para que la imagen no se deforme */
.modal img {
  max-width: 90%;
  max-height: 90%;
  position: relative;
  z-index: 1001; /* Queda por encima del botón invisible de cierre */
}

/* Área invisible para cerrar al hacer clic fuera de la imagen */
.cerrar-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}
